<include file="Public/header"/>
<!--头部结束-->
<script type="text/javascript" src="__ROOT__/Public/js/Home/seed-min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/Home/lhgdialog/lhgdialog.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/Home/cart.js"></script>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/Home/cart.css"/>
<!--购物车开始-->
<form id="form1" name="form1" method="post" action="/Home/Order/order_submit">
<div class="ShopCart">
  <div class="carttp">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <th class="thn" width="60"><input type="checkbox" class="inpck muticheck"/>全选</th>
        <th width="311">商品</th>
        <th width="151">单价</th>
        <th width="131">数量</th>
        <th width="151">小计</th>
        <th width="110">操作</th>
      </tr>
    </table>
  </div>
  
  <div class="cartls1">
    <div class="cartls1t">
     
    </div>
    <div class="cartls1b">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <!--2016/03/17 add 如果不是套餐-->
        <foreach name='g' item='b'>
        <tr class="tr1" num="1">
          <td width="40"><input type="checkbox" class="inpck simple_check" name="chkcart[]" value="{$b['id']}" /></td>
          <td width="322">
            <dl>
              <dt><a href="/product-932.aspx" target="_blank"><img src="{$b['thumb']}" width="72" height="72" /></a></dt>
              <dd><a href="/product-932.aspx" target="_blank">{$b['p_name']}</a></dd>
            </dl>
          </td>
          <td width="152" class="last"><b class="b1 pro932">{$b['price']}</b></td>
          <td width="132"><em class="many"><a class="alf" href="javascript:">-</a><input type="text" maxcount="999" value="{$b['num']}" productid="{$b['pid']}" title="请输入购买量" onkeydown="return checkKeyForInt(event)"><a class="art" href="javascript:">﹢</a></em></td>
          <td width="152"><b class="red totalprice">{$b['price']*$b['num']}</b></td>
          <td class="last" width="110"><!-- <a href="javascript:;" onclick="collect(932)">加入收藏</a> --><a href="javascript:;" onclick="cart_del({$b['id']})">删除</a></td>
        </tr>  </foreach>
          
       
      </table>
    </div>
  </div>

  
  <div class="carttb">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <th width="60"><input type="checkbox" class="inpck muticheck" />全选</th>
        <th width="51"><a href="javascript:;" onclick="cart_del_muti()">删除</a></th>
        <th width="112"></th>
        <th width="586" class="thn"><span>已选商品<em class="red" id="total_count">0</em>件</span>合计(不含运费)：<strong>¥<font class="red" id="total_price">0.00</font></strong></th>
        <th width="120"><input id="buy" type="submit" value="去 结 算" class="cartbutno" disabled="disabled" /></th>
      </tr>
    </table>
  </div>
</div>
</form>
<!--购物车结束-->
<include file="Public/footer"/>
