<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台登录 - 海林特产网</title>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/Admin/bootstrap.min.css" />
<script type="text/javascript" src="__ROOT__/Public/js/Admin/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/Admin/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        
    })
</script>

</head>
<body>

<div class="navbar">
	<div class="navbar-inner">
		<a href="#" class="brand">海林特产网</a>
		<ul class="nav">
			<li class="active"><a href="{:U('index/index')}">首页</a></li>
			<li><a href="{:U('product/index')}">产品管理</a></li>
		</ul>
	
		<ul class="nav pull-right">
			<li><a href="{:U('index/logout')}">退出登陆</a></li>
		</ul>
	
	</div>
</div>











<!--头部结束-->