<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<div class="sider left">
  <h2><img src="__ROOT__/Public/images/Home/buy.jpg" width="40" height="40" align="absmiddle" />买家中心管理</h2>
<div class="sider1 clear">
  <ul>
    <li><a href="/home/cart" target="_blank">我的购物车</a></li>
    <li><a href="/user">已买到的商品</a></li>
    
    <li><a href="/user/index/address">我的地址</a></li>
    <!-- <li><a href="voucher.aspx">我的优惠券</a></li> -->
    <li>
        <dl>
        <dt><a class="a1" href="javascript:">退款维权</a></dt>
        <dd>
            <ul>
            <li><a href="refund.aspx">退款退货管理</a></li>
            <li><a href="javascript:" style="color:#ccc;">售后管理(敬请期待)</a></li>
            <li><a href="javascript:" style="color:#ccc;">投诉管理(敬请期待)</a></li>
            </ul>
        </dd>
        </dl>
    </li>
    <li>
        <dl>
        <dt><a class="a1" href="javascript:">顾客中心</a></dt>
        <dd>
            <!-- <ul>
            <li><a href="pay.aspx">提现账户</a></li>
            
            <li><a href="applyagent.aspx">代理申请</a></li>
            </ul> -->
        </dd>
        </dl>
    </li>
  </ul>
</div>
  </div>