@charset "utf-8";
/* CSS Document */

body{ font:12px "Microsoft YaHei",arial,simsun,sans-serif; color:#333; margin:0 auto; padding:0; background:#fff; min-width:1200px;}

/*链接整体设置*/
a{ text-decoration:none; color:#333;}
a:hover{ color:#d52629; text-decoration:none;}
a:active{ color:#333;}
a:active, a:focus {outline:none;}
input:focus{ outline:none;}

/*公用样式*/
div,table,tr,td,img,ul,ol,li,h1,h2,h3,h4,h5,h6,p,em,font,span,dl,dt,dd,input,button,form,i,code{ margin:0; padding:0; font-size:12px; font-style:normal; font-family:"Microsoft YaHei";}
h1,h2,h3{font-weight:500;}
li{ list-style-type:none;}
img{ border:none;}
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both;}
.clear0{ clear:both; font-size:0px; height:0px; overflow:hidden;}
.hidden{ display:none;}
.wrap{ width:1200px; margin:0 auto; text-align:left;}
.margin10{ margin-top:10px;}
.red{ color:#d52629;}
.blue{ color:#317ee7;}
.marrt{ margin-left:8px; font-size:12px; font-weight:500;}

/*2014-01-04*/
/*top style*/
.top{ background:url(../../images/Home/topbg.jpg) top left repeat-x; width:100%;}
.top_pc em{ color:#888; font-family:"simsun";}
.top_pc em a{ color:#888; margin-left:15px;}
.top_pc em span{ padding-left:15px;}
.top_pc{ height:35px; line-height:35px;}
.top_pc ul li{ z-index:1000; float:left; margin-right:-1px; position:relative; z-index:5200; font-family:"simsun";}
.top_pc ul li a{ padding:0 10px; z-index:1001; white-space:nowrap; position:relative; color:#666;}
.top_pc ul li a b{ color:#e07e7f;}
.top_pc li ul { border:1px solid #dbdbdb; z-index:1000; right:0px; background:#fff; left:0px; padding-top:24px; zoom:1; position:absolute; top:3px; width:75px;}
.top_pc li ul li{ background:url(../../images/Home/line.gif) repeat-x left bottom; float:none; line-height:25px; height:25px}
.top_pc li ul li a{ display:block; border:none; padding:0 13px;}
.top_pc ul li a.drop{ padding:0px 18px 0px 10px; background:url(../../images/Home/icon.png) no-repeat right top; border-right:1px solid #dbdbdb;}
.top_pc li a.sina_weibo{ display:block; background:url(../../images/Home/sina.png) no-repeat 1px 3px; margin:5px 0px 0px 5px; width:22px; text-indent:-999em; height:30px; padding:0 5px;}
.top_pc li a.wxs{ display:block; background:url(../../images/Home/wx.png) no-repeat 1px 3px; margin:6px 0px 0px 5px; width:20px; text-indent:-999em; height:29px; padding:0;}
.top_pc li a.acart{ background:url(../../images/Home/icon.png) no-repeat 12px 8px; padding:0 13px 0 35px; display:block; width:60px; height:35px; overflow:hidden;}
.top_pc li a.tells{ background:url(../../images/Home/icon.png) no-repeat -120px 9px; padding:0 13px 0 34px; display:block; width:130px; height:35px; overflow:hidden;}
.logo{ width:415px; height:71px; padding-top:30px;}
.logo h1{ display:inline-block; padding:5px 10px 0 0; float:left;}
.logo img{ float:left;}
.logo em{ display:inline-block; height:50px; line-height:50px; border-left:1px solid #c5c5c5; padding-left:20px; font-size:18px;}

/*搜索样式*/
.search{ width:510px; height:90px; padding-top:30px;}
.search1{ width:510px; height:35px; position:relative; z-index:2221; background:url(../../images/Home/search.jpg) no-repeat;}
.search1 .keyword input{ float:left;width:375px;height:15px;line-height:15px;padding:10px 0;border:none;color:#888;background:none;font-size:12px;outline:none}
.search1 .selectwrap{ width:52px;float:left;text-indent:1.2em;height:35px;line-height:35px;_display:inline;overflow:hidden;cursor:pointer;}
.search1 #selectvalue{ height:35px;line-height:36px;overflow:hidden;color:#a6a6a6; background:url(Public/images/Home/search.jpg) no-repeat;}
.search1 #options{ position:absolute; z-index:9999; width:52px; top:35px; left:0px; background:#fff; border:#ddd 1px solid;}
.search1 #options a{ display:block;height:35px;width:52px;line-height:36px;_line-height:24px;overflow:hidden;color:#808080;}
.search1 #options a:hover{ background:#ececec;}
.search1 .search_btn button{ float:right;width:80px;height:33px;border:0;background:none;cursor:pointer; font-size:15px; color:#fff; letter-spacing:4px; text-align:center;}
.search1 .chart{ border-bottom:1px solid #b4b4b4; width:430px; z-index:1000; right:0px; left:0px; zoom:1; position:absolute; top:35px; line-height:24px; background:#fff;}
.search1 .chart li{ padding:5px 15px; border-left:1px solid #b4b4b4; border-right:1px solid #b4b4b4; cursor:pointer;}
.search1 .chart li span{ float:right; color:#999;}
.search p{ height:20px; line-height:20px; overflow:hidden; width:510px; padding-top:10px;}
.search p a{ color:#666; margin-right:12px;}
.search p b,.search p a:hover{ color:#d52629;}

.htwx{ width:160px; text-align:right; padding-top:23px;}
.htwx em{ float:right; display:inline-block; border:1px solid #ddd;}
.htwx em img{ width:95px; height:95px;}
.htwx span{ color:#d52629; line-height:18px; padding-top:58px; display:inline-block; background:url(../../images/Home/icon.png) 30px -420px no-repeat; margin-right:12px;}

/*sider style*/
.siderlf{ width:220px; position:relative;}
.siderlf h2{ height:36px; background:url(../../images/Home/icon.png) #c40025 -110px -19px no-repeat; line-height:36px;}
.siderlf h2 a{ color:#fff; font-size:15px; text-align:center; letter-spacing:3px; display:block;}
.siderlf h2 a:hover{ color:#fff;}
.sort { width:220px; COLOR:#666; position:absolute; top:36px; left:0;}
.newPriceLinks { width:219px; background:#b91433; CLEAR:both; overflow:hidden; padding:0 0 1px 1px; height:495px;}
.newPriceLinks UL { width:219px; ZOOM:1; CLEAR:both}
.newPriceLinks UL LI { height:55px; width:219px; CLEAR:both;}
.newPriceLinks UL LI P.tit { COLOR:#fff; display:block; text-align:left; width:206px; height:55px; overflow:hidden; padding-left:13px; line-height:24px;}
.newPriceLinks UL LI P.tit strong{ display:block; padding-top:5px;}
.newPriceLinks UL LI P.tit strong a{ font-size:14px; color:#fff; float:left;}
.newPriceLinks UL LI P.tit strong i{ display:inline-block; height:19px; width:27px; float:left; margin-top:3px; background:url(../../images/Home/icon.png) no-repeat;}
.newPriceLinks UL LI P.tit strong i.i1{ background-position:-100px -60px;}
.newPriceLinks UL LI P.tit strong i.i2{ background-position:-100px -111px;}
.newPriceLinks UL LI P.tit strong i.i3{ background-position:-100px -163px;}
.newPriceLinks UL LI P.tit strong i.i4{ background-position:-100px -214px;}
.newPriceLinks UL LI P.tit strong i.i5{ background-position:-100px -263px;}
.newPriceLinks UL LI P.tit strong i.i6{ background-position:-100px -316px;}
.newPriceLinks UL LI P.tit strong i.i7{ background-position:-100px -360px;}
.newPriceLinks UL LI P.tit strong i.i8{ background-position:-100px -408px;}
.newPriceLinks UL LI P.tit strong i.i9{ background-position:-100px -459px;}
.newPriceLinks UL LI P.tit font{ display:block; clear:both; padding-left:27px;}
.newPriceLinks UL LI P.tit font a{ margin-right:6px; color:#fff;}
.newPriceLinks UL LI P.tit A { margin-right:5px;}
.newPriceLinks UL LI P.arrow { width:3px; DISPLAY:none; background:#fff; FLOAT:right; HEIGHT:55px; OVERFLOW:hidden;}
.newPriceLinks LI.sfhover { Z-INDEX:777; width:221x; HEIGHT:55px; background:#fff;}
.newPriceLinks LI.sfhover P.tit strong a{ font-size:14px; color:#b91433; float:left;}
.newPriceLinks LI.sfhover P.arrow { Z-INDEX:999; POSITION:absolute; DISPLAY:block; LEFT:220px; top:0px;}
.newPriceLinks LI.sfhover P.tit font a{ margin-right:6px; color:#b91433;}
.newPriceLinks LI.sfhover P.tit strong i{ display:inline-block; height:19px; width:27px; float:left; margin-top:3px; background:url(../../images/Home/icon.png) no-repeat;}
.newPriceLinks LI.sfhover P.tit strong i.i1{ background-position:-130px -60px;}
.newPriceLinks LI.sfhover P.tit strong i.i2{ background-position:-130px -111px;}
.newPriceLinks LI.sfhover P.tit strong i.i3{ background-position:-130px -163px;}
.newPriceLinks LI.sfhover P.tit strong i.i4{ background-position:-130px -214px;}
.newPriceLinks LI.sfhover P.tit strong i.i5{ background-position:-130px -263px;}
.newPriceLinks LI.sfhover P.tit strong i.i6{ background-position:-130px -316px;}
.newPriceLinks LI.sfhover P.tit strong i.i7{ background-position:-130px -360px;}
.newPriceLinks LI.sfhover P.tit strong i.i8{ background-position:-130px -408px;}
.newPriceLinks LI.sfhover P.tit strong i.i9{ background-position:-130px -459px;}
.newPriceLinks LI DIV { DISPLAY:none; TOP:0px; LEFT:0px; width:300px; overflow:hidden; height:auto!important; height:495px; min-height:495px; border:1px solid #b91433; border-left:none; border-top:none;}
.newPriceLinks LI.sfhover DIV { Z-INDEX:888; POSITION:absolute; DISPLAY:block; background:#fff; TOP:0px; LEFT:220px}
.newPriceLinks LI.sfhover DIV span{ display:block; overflow:hidden;}
.newPriceLinks LI.sfhover DIV span dl { padding:6px 0;overflow:hidden;zoom:1;}
.newPriceLinks LI.sfhover DIV span dl dt{ width:65px; text-align:right; float:left; line-height:22px; padding:3px 5px 0 0; font-weight:bold;}
.newPriceLinks LI.sfhover DIV span dl dt a{ font-weight:600; color:#d52629;}
.newPriceLinks LI.sfhover DIV span dl dd{ width:230px; float:right; text-align:left;padding:3px 0 0;overflow:hidden;zoom:1;}
.newPriceLinks LI.sfhover DIV span dl dd em{ WHITE-SPACE:nowrap;float:left;height:14px;margin:4px 0;line-height:14px; padding:0 8px;border-left:1px solid #CCC;}
.newPriceLinks LI.sfhover DIV span dl dd em a{ color:#333;}

.nav{ border-bottom:2px solid #d90e35; height:34px; position:relative; z-index:2220;}
/*nav style导航*/
.navl{ width:800px; height:34px;}
.navl ul li{ display:inline; float:left; line-height:34px; margin:0 20px; position:relative;}
.navl ul li a{ font-size:14px; display:block; font-weight:bold;}
.navl ul li a.shop{ background:url(../../images/Home/icon.png) 0 -24px no-repeat; color:#ff8a00; padding-left:30px;}
.navl ul li a .imgs{ position:absolute; top:-1px; left:57px;}
.navl ul li a.on,.navl ul li a:hover{ color:#d52629;}

.security{ background:#af2525; padding:30px; height:70px; line-height:70px; overflow:hidden;}
.security ul li{ width:25%; float:left; font-size:20px; font-weight:bold; color:#fff;}
.security ul li i{ display:inline-block; width:70px; height:70px; background:url(../../images/Home/icon.png) no-repeat; float:left; margin-right:20px;}
.security ul li i.i1{ background-position:-30px -60px;}
.security ul li i.i2{ background-position:-30px -130px;}
.security ul li i.i3{ background-position:-30px -200px;}
.security ul li i.i4{ background-position:-30px -270px;}

/*service style样式*/
.service dl{ overflow:hidden; padding-bottom:20px; border-bottom:1px solid #d9d9d9;}
.service dl dt{ width:280px; float:left; padding-top:55px;}
.service dl dt p{ margin-top:10px; background:url(../../images/Home/tell1.png) left bottom no-repeat; font-style:italic; font-weight:bold; font-size:20px; color:#ca4c61; padding:0 0 5px 35px; line-height:45px;}
.service dl dd{ line-height:30px; float:left; width:165px; position:relative; padding:26px 0 0 35px;}
.service dl dd i{ background:url(../../images/Home/icon.png) no-repeat; display:block; width:23px; height:24px; position:absolute; top:30px; left:0px;}
.service dl dd i.i1{ background-position:0 -60px;}
.service dl dd i.i2{ background-position:0 -84px;}
.service dl dd i.i3{ background-position:0 -111px;}
.service dl dd i.i4{ background-position:0 -134px;}
.service dl dd h3{ padding-bottom:9px; font-size:16px;}
.service dl dd h3 a{ font-size:16px; color:#000;}
.service dl dd p a{ font-size:14px; color:#666;}
.service dl dd.last{ padding:26px 0 0 0; width:114px; float:right;}
.service dl dd.last img{ border:1px solid #e9e9e9; width:112px; height:112px;}
.service dl dd.last p{ font-size:14px; text-align:center;}

/*foot style样式*/
.foot{ line-height:22px; padding:20px 0;}
.foot a{ margin-right:8px;}
.foot em{ padding-right:30px;}
.foot em img{ height:42px;}

.tugoobar{ position:fixed; width:35px; background:#d70029; overflow:visible; top:0; right:0; bottom:0; z-index:999999; text-align:center; border-radius:15px 0 0 15px; _position:absolute;_margin-top:0px;_top:expression(eval(document.documentElement.scrollTop)); height:100%;}
.tugoobarc{ position:fixed; _position:absolute;_margin-top:200px;_top:expression(eval(document.documentElement.scrollTop)); width:35px; overflow:visible; top:25%; right:0; bottom:0;}
.tugoobarc li.lmd{ height:99px; padding-top:11px; background:#c40025;}
.tugoobarc li span{ font-size:16px; color:#fff;}
.tugoobarc li.cspic{/*非IE的主流浏览器识别的垂直居中的方法*/ display: table-cell;vertical-align:middle; /*设置水平居中*/text-align:center; /* 针对IE的Hack */ *display: block; *font-size:96px; /*约为高度的0.873，200*0.873 约为175*/ *font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/ width:35px; height:110px;}
.tugoobarc li.cspic img{ vertical-align:middle}

.tugoobarc1{ position:fixed; _position:absolute;_margin-top:500px;_top:expression(eval(document.documentElement.scrollTop)); width:35px; overflow:visible; top:75%; right:0; bottom:0;}
.tugoobarc1 li{ padding-bottom:25px; position:relative;}
.tugoobarc1 li span{ font-size:16px; color:#fff; display:inline-block; width:35px;}
.tugoobarc1 li.gotop .ewm{ background:url(../../images/Home/ews.png) left bottom no-repeat; display:inline-block; width:18px; height:18px;}
.tugoobarc1 li.gotop .ewm em{ display:none; position:absolute; top:-120px; left:-150px;}

.tugooFast{ position:fixed; _position:absolute;_margin-top:200px;_top:expression(eval(document.documentElement.scrollTop)); width:30px; overflow:visible; top:20%; left:10px; border:2px solid #d8d8d8; padding:5px 10px; text-align:center; background:#fff;}
.tugooFast ul li{ border-bottom:1px dotted #e6e6e6; height:38px; padding:5px 0;}
.tugooFast ul li i{ display:inline-block; width:30px; height:30px; background:url(../../images/Home/icon.png) no-repeat; margin:4px 0;}
.tugooFast ul li.li1 i{ background-position:-20px -470px;}
.tugooFast ul li.li2 i{ background-position:-50px -470px;}
.tugooFast ul li.li3 i{ background-position:-80px -470px;}
.tugooFast ul li.li4 i{ background-position:-110px -470px;}
.tugooFast ul li.li5 i{ background-position:-140px -470px;}
.tugooFast ul li.li6 i{ background-position:-170px -470px;}
.tugooFast ul li.li7 i{ background-position:-200px -470px;}
.tugooFast ul li.li8 i{ background-position:-230px -470px;}
.tugooFast ul li em{ font-weight:bold; font-size:14px; display:none; height:38px;}
.tugooFast ul li.li1 em{ color:#459d36;}
.tugooFast ul li.li2 em{ color:#ff6c00;}
.tugooFast ul li.li3 em{ color:#fa639f;}
.tugooFast ul li.li4 em{ color:#509427;}
.tugooFast ul li.li5 em{ color:#933;}
.tugooFast ul li.li6 em{ color:#e3b000;}
.tugooFast ul li.li7 em{ color:#24b1f3;}
.tugooFast ul li.li8 em{ color:#d73333;}

/* page */
.page{ text-align:center; padding:10px 0 30px 0;}
.page a{ display:inline-block; height:32px; line-height:32px; border:solid 1px #AA998A; font-size:14px; padding:0 12px; background-color:#f7f5f2; margin:0 3px;}
.page a:hover{ text-decoration:none; color:#333;}
.page a.on,.page a.on:hover{ background-color:#d52629; border-color:#d52629; color:#fff;}
.page a.prev{ background:#f7f5f2 url(../../images/Home/icon3.png) no-repeat 8px -116px; padding-left:24px;}
.page a.next{ background:#f7f5f2 url(../../images/Home/icon3.png) no-repeat right -92px; padding-right:24px;}
.page a.disabled,.page a.disabled:hover{ border-color:#E6E1DB; background-color:#fff; color:#666;}
.page .page_input{ display:inline-block; width:50px; height:34px; line-height:34px; border:solid 1px #AA998A; font-size:14px; background-color:#f7f5f2; margin:0 3px;text-align:center;}
.page .page_btn{display:inline-block; float:right; width:70px; height:36px;line-height:36px ;border:solid 1px #d52629;background:#d52629;color:#fff;font-size:14px;cursor:pointer;}
.page .page_more{display:inline-block; width:180px;}
.page .page_more font{color:#333;font-weight:normal;}

/*面包屑*/
.location{ height:50px; line-height:50px;}
.location em{ padding:0 8px;}