<include file="Public/header" />
<!--主体开始-->
<form id="form1" name="form1" action="address">
<div class="center clear">
<include file="Public/left"/>
  <div class="cenrt right">
    <div class="list_tab">
      <ul>
        <li class="lions">我的收货地址（2）</li>
        <li><a href="/user/index/address_edit">添加收货地址</a></li>
      </ul>
    </div>
    
    <div class="list_btn clear">
      <ul>
        <li><a href="address_edit.aspx" class="blue">添加</a></li>
        <li><a href="javascript:" class="orange" onclick="ajax_submit_confirm('user','address_delete','form1','您确定要永久删除这些收货地址么？','永久删除后，您将无法再查看这些收货地址')">删除</a></li>
      </ul>
      <div class="list_top_page">
        <span class="span1">1/1</span><a class="prev disabled">上一页</a><a class="next disabled">下一页</a>
      </div>
    </div>
    <table width="100%" cellpadding="0" cellspacing="1" bgcolor="#e4e4e4" class="datalist">
    <tr>
        <th width="6%"><input type="checkbox" onclick="checkAll(this)"/></th>
        <th width="10%">收货人</th>
        <th>详细地址</th>
        <th width="10%">邮编</th>
        <th width="15%">电话/手机</th>
        <th width="10%">状态</th>
        <th width="12%">操作</th>
    </tr>
    <foreach name='umsg' item='ug'>
    <tr>
        <td><input name="chkID[]" type="checkbox" class="checkall" value="{$ug.id}"/></td>
        <td>{$ug.deliver}</td>
        <td>{$sheng.province}{$shi.city}{$qu.area}{$ug.area}</td>
        <td>{$ug.postcode}</td>
        <td>{$ug.mobile}</td>
        <td>默认地址</td>
        <td><a href="{:U('User/Index/address_edit',array('id'=>$ug['id']))}" class="blue">修改</a>&nbsp;|&nbsp;<a href="javascript:" onclick="ajax_post_confirm('user','address_delete',{$ug.id},'您确定要永久删除该收货地址么？','永久删除后，您将无法再查看该收货地址')" class="blue">删除</a></td>
    </tr>
    </foreach>
   
    
    </table>
    <div class="ordtop ordtopc" style=" height:30px; padding-top:10px;">
      <div class="page right"><span>共2记录</span><a class="prev disabled">上一页</a><a class="on">1</a><a class="next disabled">下一页</a></div>
    </div>
  </div>
  <div class="clear0"></div>
</div>
</form>
<!--主体结束-->

<!--底部开始-->
<include file="Public/footer"/>