<div class="service clear">
    <div class="servicec wrap">
        <dl class="fore1">
            <dt>新手指南</dt>
            <b></b>
            <dd>
                <p><a href="/help-162.aspx" target="_blank">免费注册</a></p><p><a href="/help-166.aspx" target="_blank">密码修改</a></p><p><a href="/help-161.aspx" target="_blank">订购流程</a></p><p><a href="/help-185.aspx" target="_blank">忘记密码</a></p>
            </dd>
        </dl>

        <dl class="fore2">
            <dt>消费者保障</dt>
            <b></b>
            <dd>
                <p><a href="/baozhang.aspx" target="_blank">7天无理由退货</a></p>
                <p><a href="/help-173.aspx" target="_blank">食品安全承诺</a></p><p><a href="/help-168.aspx" target="_blank">买家防骗</a></p>
            </dd>
        </dl>

        <dl class="fore3">
            <dt>配送方式</dt>
            <b></b>
            <dd>
                <p><a href="/help-171.aspx" target="_blank">卖家防骗</a></p><p><a href="/help-170.aspx" target="_blank">配送与运费</a></p><p><a href="/help-187.aspx" target="_blank">庐山特产网默认运费</a></p>
            </dd>
        </dl>

        <dl class="fore4">
            <dt>售后服务</dt>
            <b></b>
            <dd>
                <p><a href="/help-175.aspx" target="_blank">验货签收</a></p><p><a href="/help-174.aspx" target="_blank">退换须知</a></p><p><a href="/help-182.aspx" target="_blank">投诉中心</a></p>
            </dd>
        </dl>


        <div class="clear0"></div>
    </div>
</div>

<div class="foot clear">
  <p><a href="/about.aspx?wd=privacy" target="_blank">隐私声明</a><a>|</a><a href="/about.aspx?wd=service" target="_blank">服务条款</a><a>|</a><a href="/about.aspx?wd=ad" target="_blank">广告服务</a><a>|</a><a href="/about.aspx?wd=job" target="_blank">招贤纳士</a><a>|</a><a href="/about.aspx?wd=welcome" target="_blank">欢迎合作</a><a>|</a><a href="/about.aspx?wd=contact" target="_blank">联系我们</a><a>|</a><a href="/about.aspx?wd=license" target="_blank">经营许可证</a></p>
  <p>地址：赣州市。&nbsp;&nbsp;联系电话：0791-8335678 &nbsp;&nbsp; </p>
  <p>客服QQ:2281917160(<a href="http://wpa.qq.com/msgrd?v=3&uin=3064244831&site=qq&menu=yes" target="_blank" class="red">点击咨询</a>)&nbsp;&nbsp;
      3129361963(<a href="http://wpa.qq.com/msgrd?v=3&uin=2075263211&site=qq&menu=yes" target="_blank" class="red">点击咨询</a>)&nbsp;&nbsp;
  <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="江西土特产交流群" title="江西土特产交流群" /></a></p>
  <p>增值电信业务经营许可证赣B2-2012052&nbsp;&nbsp;赣ICP备12003335-1号&nbsp;&nbsp;Copyright 2013-2015&nbsp;&nbsp;版权所有</p>
  <p><img src="__ROOT__/Public/images/Home/zfb.jpg"/><a href="http://union.xns315.com/lm/xns017341.html" rel="nofollow" target="_blank" alt="中国农业网站诚信联盟"><img src="__ROOT__/Public/images/Home/xns315.gif"/></a><a href="/about.aspx?wd=zhengshu" rel="nofollow" target="_blank"><img src="__ROOT__/Public/images/Home/baiqiang.gif" alt="中国农业百强网站"/></a></p>
    <div class="hidden">
	<script type="text/javascript">
	    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fcef4671349fac47e4ecca66da503f015' type='text/javascript'%3E%3C/script%3E"));
    </script>
    </div>
</div>


<!--底部结束-->
</body>
</html>
